body{
    height: 11in;
    width: 8.5in;
}
.table{
    align-content: center;
    align-content: center;
}
table tbody{
    align-content: inherit
}
.table tbody tr.Header{
    text-align: center;
}
.table tbody tr.Header{
    background-color: dimgray;
}
.table tbody tr.Content{
    text-align: left;
    background-color: dimgray;
    color: white;
}
.table tbody tr td input.sm{
    width: 50px;
    align-self: left;
}
.input.lg{
    width: 100px;
    align-self: left;
}
